/* Table Of Content */
/*
1. Section Settings
2. Section Carousel
*/


/*
color 202021-3a5a69-988ba8-eae1f4-f9f9f9
*/
/* Section Settings */
html, body{
    height: 100%;
    background: #F9F9F9;
    font-family: 'Prompt', sans-serif;
}

.bg-alpha{
    background: rgba(0, 0, 0 , 0.3)
}
.border-short-bottom{
    position: relative;
    padding: 20px;
    margin-bottom: 25px;
}
.border-short-bottom::after{
    position: absolute;
    content: "";
    width: 200px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
    background: #595959;
}
@media (max-width: 768px){
    .display-4 {
        font-size: 2.5rem;
    }
}

 /* Navbar */
 #navbar{
     padding: 10px;
     transition: 0.5s;
 }

/* Section Carousel */
.carousel,
.carousel-inner,
.carousel-item,
.carousel-inner .active{
    height: 100%;
}
.carousel-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.carousel-caption{
    top: 40%;
}
.blackscreen{
    background: rgba(0, 0, 0 , 0.3);
    height: 100%;
}

/* Section Hope */
.hope{
    background: #D4D4D6;
}

/* Section Blog */
.warpper-card-img{
    position: relative;
    overflow: hidden;
}
.warpper-card-img::after{
    content: '';
    padding-top: 56.25%;
    display: block;
    height: 0;
}
.warpper-card-img img{
    position: absolute;
    top: 0;
    transition: 0.2s;
}
.warpper-card-img img:hover{
    transform: scale(1.1)
}
.blogbotton{
    color: #F9F9F9;
    background: rgba(14, 23, 91, 0.9)
}
.blogbotton:hover{
    color: #F9F9F9;
    background: rgba(14, 23, 91, 1)
}
.card.h-100{
    box-shadow: 1px 0px 7px #8888887d;
}


/* Section Footer */
.semi-footer{
    background: #202021;
    color:#f9f9f9
}
.semi-footer a{
    color:#dcdcdc;
}
.semi-footer h4{
    color: #D8D8D8;
    border-bottom: 1px solid;
    padding: 10px 0;
}
.footer{
    background: #000000;
    color: #D8D8D8;
    font-size: 0.7rem;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

